   @tailwind base;
   @tailwind components;
   @tailwind utilities;

   @layer base {
     :root {
       --background: 36 33% 98%;
       --foreground: 24 29% 20%;
       --card: 0 0% 100%;
       --card-foreground: 24 29% 20%;
       --popover: 0 0% 100%;
       --popover-foreground: 24 29% 20%;
       --primary: 35 33% 60%;
       --primary-foreground: 0 0% 100%;
       --secondary: 20 52% 20%;
       --secondary-foreground: 0 0% 100%;
       --muted: 35 33% 96%;
       --muted-foreground: 24 9% 50%;
       --accent: 35 33% 90%;
       --accent-foreground: 24 29% 20%;
       --destructive: 0 62.8% 30.6%;
       --destructive-foreground: 210 40% 98%;
       --border: 35 33% 80%;
       --input: 35 33% 80%;
       --ring: 35 33% 60%;
       --radius: 0.5rem;
     }
   }